<!-- TODO : align username & déconnexion à droite -->
<mat-toolbar>
  <mat-toolbar-row class="topnav">
    <img id="logo" routerLink="/" src="./assets/logo.png" alt="logo"/>
    <a routerLink="/">Accueil</a>
    <a routerLink="/gestion">Gestion</a>
    <a routerLink="/user">[Username]</a>
    <a routerLink="/logout">Déconnexion</a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <!--  <ul>-->
  <!--    <li *ngFor="let book of hello">{{ book }}</li>-->
  <!--  </ul>-->
  <app-transaction-form></app-transaction-form>
  <app-expense-list></app-expense-list>

  <!-- TODO : Liste des dépenses -->
  <br/>
  <mat-card>
    <h1>Liste des dépenses :</h1>
    <div>**En construction**</div>
  </mat-card>

  <!-- TODO : Dashboard avec graphs -->
  <br/>
  <mat-card>
    <h1>Dashboard avec graphs :</h1>
    <div>**En construction**</div>
  </mat-card>
</mat-card>
<footer id="footer">
  <div>GUNTER 101 -- Application de gestion de budgets -- Antoine Chatel & Elodie Deflon</div>
</footer>
