<mat-card>
  <h1>Liste des budgets :</h1>
  <table mat-table [dataSource]="budgetsList" class="mat-elevation-z8 demo-table">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Montant sur l'année {{this.currentYear}}</th>
      <td mat-cell *matCellDef="let element">{{element.amount}}</td>
    </ng-container>

    <!-- Last Expense Column -->
    <ng-container matColumnDef="lastexpense">
      <th mat-header-cell *matHeaderCellDef>Dernière transaction</th>
      <td mat-cell *matCellDef="let element">{{element.lastexpense}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="editBudget(element.id)">Modifier</button>
        <button mat-raised-button (click)="deleteBudget(element.id)">Supprimer</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <br/>
  <app-budget-edit *ngIf="editRow == true;" [data]=getElement(currentId) [update]="true"></app-budget-edit>
</mat-card>
