#formAdd {
  width: 100%;
}

.mat-radio-button {
  margin-left: 2%;
}

h1, #formType, #formFrequency {
  margin-bottom: 2%;
}

.mat-form-field {
  margin-right: 2%;
}

#submitForm {
  margin-left: 1%;
  margin-bottom: 3%;
}
