<mat-card id="div-ajout-depense">
  <h1>Ajout de transactions : </h1>

  <!-- TODO : Set valeur des dates à une date précise -->
  <!-- TODO : Gestion des erreurs (non envoie du form en cas de champs vide etc) -->
  <!-- TODO : Small corrections + revoir wording si besoin -->

  <form id="formAdd" [formGroup]="options" (ngSubmit)="addNewExpense()">
    <div id="formType">
      <label>Type * :</label>
      <mat-radio-group required [formControl]="typeValue">
        <mat-radio-button value="depense">Dépense</mat-radio-button>
        <mat-radio-button value="apport">Apport</mat-radio-button>
      </mat-radio-group>
    </div>
    <div id="formFrequency">
      <label>Fréquence * :</label>
      <mat-radio-group required [formControl]="freqValue">
        <mat-radio-button value="ponctuel">Ponctuel</mat-radio-button>
        <mat-radio-button value="recurrent">Récurrent</mat-radio-button>
        <mat-radio-button value="etale">Etalé</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field *ngIf="typeValue.value == 'depense' || typeValue.value == 'apport'"
                    appearance="fill">
      <mat-label>Label</mat-label>
      <input matInput required type="text" placeholder="Courses" [formControl]="labelValue">
    </mat-form-field>
    <mat-form-field *ngIf="typeValue.value == 'depense' || typeValue.value == 'apport'"
                    appearance="fill">
      <mat-label>Montant</mat-label>
      <input matInput required type="number" placeholder="10.00" min="1" [formControl]="amountValue">
    </mat-form-field>
    <mat-form-field *ngIf="typeValue.value == 'depense' || typeValue.value == 'apport'"
                    appearance="fill">
      <mat-label>Budget</mat-label>
      <select required matNativeControl [formControl]="budgetValue">
        <option label="--"></option>
        <option value="test">Test</option> <!-- TODO : à remplir avec la liste des budgets créé par le user -->
      </select>
    </mat-form-field>
    <mat-form-field appearance="fill"
                    *ngIf="freqValue.value == 'ponctuel'">
      <mat-label>Date</mat-label>
      <input matInput required type="date" [formControl]="dateValue" [valueAsDate]="currentDate" >
    </mat-form-field>
    <mat-form-field appearance="fill"
                    *ngIf="freqValue.value == 'recurrent' || freqValue.value == 'etale'">
      <mat-label>Premier virement</mat-label>
      <input matInput required type="date" [formControl]="dateFirstValue" [valueAsDate]="currentDate" >
    </mat-form-field>
    <mat-form-field appearance="fill"
                    *ngIf="freqValue.value == 'etale'">
      <mat-label>Dernier virement</mat-label>
      <input matInput required type="date" [formControl]="dateLastValue">
    </mat-form-field>
    <mat-form-field appearance="fill"
                    *ngIf="freqValue.value == 'recurrent'">
      <mat-label>Répétition</mat-label>
      <select matNativeControl required [formControl]="repetitionValue">
        <option label="--"></option>
        <option value="jours">Tous les jours</option>
        <option value="semaines">Toutes les semaines</option>
        <option value="mois">Tous les mois</option>
        <option value="troismois">Tous les 3 mois</option>
        <option value="annee">Tous les ans</option>
        <option value="annee">Tous les 2 ans</option>
      </select>
    </mat-form-field>
    <br/>
  </form>
  <mat-card-actions>
    <button [disabled]="((typeValue.value != 'depense' && typeValue.value != 'apport') ||
                         (freqValue.value != 'ponctuel' && freqValue.value != 'recurrent' && freqValue.value != 'etale'))"
            mat-raised-button type="submit" id="submitForm" form="formAdd" color="primary">Enregistrer</button> <!-- mat-raised-button -->
  </mat-card-actions>
</mat-card>
