<mat-card>
  <h1>Liste des dépenses :</h1>
  <table mat-table [dataSource]="data" class="mat-elevation-z8 demo-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>N°</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.id}}</td>
    </ng-container>

    <!-- Label Column -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.label}}</td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Montant</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.amount}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.date}}</td>
    </ng-container>

    <!-- Budget Column -->
    <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef>Budget</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.budget}}</td>
    </ng-container>

    <!-- Frequency Column -->
    <ng-container matColumnDef="frequency">
      <th mat-header-cell *matHeaderCellDef>Fréquence</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.frequency}}</td>
    </ng-container>

    <!-- Frequency Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let transaction">
        <button mat-raised-button (click)="editTransaction(transaction.id)">Modifier</button>
        <button mat-raised-button (click)="deleteTransaction(transaction.id)" >Supprimer</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!--      (click)="clickedRows.add(row)"-->
    <!--      [class.demo-row-is-clicked]="clickedRows.has(row)"-->
  </table>

  <br/>
  <app-transaction-edit *ngIf="editT == true;" [dataT]=getTransaction(transactionId) [updateT]="true" ></app-transaction-edit> <!---->
  <!--  <div>-->
  <!--    <h3>-->
  <!--      Click Log-->
  <!--    </h3>-->
  <!--  </div>-->

  <!--  <div *ngIf="!clickedRows.size">-->
  <!--    Clicked rows will be logged here-->
  <!--  </div>-->

  <!--  <ul>-->
  <!--    <li *ngFor="let clickedRow of clickedRows">-->
  <!--      Clicked on {{clickedRow.budget}}-->
  <!--    </li>-->
  <!--  </ul>-->

  <!--  <div>**En construction**</div>-->
</mat-card>
