<mat-card>
  <h1>Mettre à jour mes informations de connexion : </h1>
  <form id="formUser" [formGroup]="options" (ngSubmit)="editUser()">
    <mat-form-field appearance="fill">
      <mat-label>Pseudo</mat-label>
      <input matInput required type="text" placeholder="JGren" [formControl]="nicknameValue">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nouveau Mot de Passe</mat-label>
      <input matInput required type="password" placeholder="***********" [formControl]="passwordValue">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Ancien Mot de Passe</mat-label>
      <input matInput required type="password" placeholder="***********" [formControl]="oldPasswordValue">
    </mat-form-field>
    <button mat-raised-button type="submit" id="editUser" form="formUser" color="primary">Modifier</button>
  </form>
</mat-card>
